.data .arc text {
	fill: #fff;
}
 /* TODO: Remove block when using SVG */
.data div {
	color: #fff;
}

.rootnoc_0.lvl1 {
	background-color: #524ABA; /* TODO: Remove line when using SVG */
	fill: #524ABA;
}

.rootnoc_0.lvl2 {
	background-color: #413b93; /* TODO: Remove line when using SVG */
	fill: #413b93;
}

.rootnoc_0.lvl3 {
	background-color: #332e73; /* TODO: Remove line when using SVG */
	fill: #332e73;
}

.rootnoc_0.lvl4 {
	background-color: #262252; /* TODO: Remove line when using SVG */
	fill: #262252;
}

.rootnoc_1.lvl1 {
	background-color: #3a7e66; /* TODO: Remove line when using SVG */
	fill: #3a7e66;
}

.rootnoc_1.lvl2 {
	background-color: #2e6250; /* TODO: Remove line when using SVG */
	fill: #2e6250;
}

.rootnoc_1.lvl3 {
	background-color: #21483b; /* TODO: Remove line when using SVG */
	fill: #21483b;
}

.rootnoc_1.lvl4 {
	background-color: #1a382e; /* TODO: Remove line when using SVG */
	fill: #1a382e;
}

.rootnoc_2.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_2.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_2.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_2.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_3.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_3.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_3.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_3.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_4.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_4.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_4.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_4.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_5.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_5.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_5.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_5.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_6.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_6.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_6.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_6.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_7.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_7.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_7.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_7.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_8.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_8.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_8.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_8.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_9.lvl1 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_9.lvl2 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_9.lvl3 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}

.rootnoc_9.lvl4 {
	background-color: #f00; /* TODO: Remove line when using SVG */
	fill: #f00;
}
