.data .arc path {
	cursor: pointer;
	pointer-events: all;
	stroke-width: 0.04%;
	stroke: #fff;
}

.data .arc text {
	fill: #fff;
	font-size: 62%;
	pointer-events: none;
}

.data .info,
.data .info-title {
	text-anchor: middle;
}

.data .info .h6 {
	font-size: 70%;
	fill: #2b3a68;
}

.data .info .value {
	font-size: 70%;
}

.arc path {
	transition: opacity 1s;
}

.arc.selected path {
	opacity: .5;
}

.arc.selected text {
	fill: #000;
}

.hover .arc:not(.hovering) {
	opacity: .2;
}

.arc.root {
	fill: #ccc;
	transform: rotate(77.6deg);
}

[lang=fr] .arc.root {
	transform: rotate(75deg);
}

.arc.root text {
	fill: #000;
	font-weight: bold;
}

.rootnoc_0.lvl1 {
	fill: #524ABA;
}

.rootnoc_0.lvl2 {
	fill: #413b93;
}

.rootnoc_0.lvl3 {
	fill: #332e73;
}

.rootnoc_0.lvl4 {
	fill: #262252;
}

.rootnoc_1.lvl1 {
	fill: #3a7e66;
}

.rootnoc_1.lvl2 {
	fill: #2e6250;
}

.rootnoc_1.lvl3 {
	fill: #21483b;
}

.rootnoc_1.lvl4 {
	fill: #1a382e;
}

.rootnoc_2.lvl1 {
	fill: #c24138;
}

.rootnoc_2.lvl2 {
	fill: #9f352e;
}

.rootnoc_2.lvl3 {
	fill: #782822;
}

.rootnoc_2.lvl4 {
	fill: #5e1f1b;
}

.rootnoc_3.lvl1 {
	fill: #bc4e8c;
}

.rootnoc_3.lvl2 {
	fill: #963e70;
}

.rootnoc_3.lvl3 {
	fill: #753057;
}

.rootnoc_3.lvl4 {
	fill: #5e2646;
}

.rootnoc_4.lvl1 {
	fill: #CC0047;
}

.rootnoc_4.lvl2 {
	fill: #a30039;
}

.rootnoc_4.lvl3 {
	fill: #7f002c;
}

.rootnoc_4.lvl4 {
	fill: #610022;
}

.rootnoc_5.lvl1 {
	fill: #38808a;
}

.rootnoc_5.lvl2 {
	fill: #2f6a72;
}

.rootnoc_5.lvl3 {
	fill: #245056;
}

.rootnoc_5.lvl4 {
	fill: #1c3e43;
}

.rootnoc_6.lvl1 {
	fill: #33850A;
}

.rootnoc_6.lvl2 {
	fill: #286908;
}

.rootnoc_6.lvl3 {
	fill: #1f5106;
}

.rootnoc_6.lvl4 {
	fill: #183e05;
}

.rootnoc_7.lvl1 {
	fill: #4a78b0;
}

.rootnoc_7.lvl2 {
	fill: #3e6493;
}

.rootnoc_7.lvl3 {
	fill: #35567f;
}

.rootnoc_7.lvl4 {
	fill: #2c4769;
}

.rootnoc_8.lvl1 {
	fill: #7f617e;
}

.rootnoc_8.lvl2 {
	fill: #684f67;
}

.rootnoc_8.lvl3 {
	fill: #523f51;
}

.rootnoc_8.lvl4 {
	fill: #433342;
}

.rootnoc_9.lvl1 {
	fill: #6D4E93;
}

.rootnoc_9.lvl2 {
	fill: #5d457b;
}

.rootnoc_9.lvl3 {
	fill: #4c3864;
}

.rootnoc_9.lvl4 {
	fill: #3b2d4f;
}
