.data .arc text {
	fill: #fff;
}
 /* TODO: Remove block when using SVG */
.data div {
	color: #fff;
}

/* TODO: Change selector after the switch to SVG */
.hover div:not(.hovering) {
	opacity: .2;
}

.root {
	fill:#fff;
}

.rootnoc_0.lvl1 {
	background-color: #524ABA; /* TODO: Remove line when using SVG */
	fill: #524ABA;
}

.rootnoc_0.lvl2 {
	background-color: #413b93; /* TODO: Remove line when using SVG */
	fill: #413b93;
}

.rootnoc_0.lvl3 {
	background-color: #332e73; /* TODO: Remove line when using SVG */
	fill: #332e73;
}

.rootnoc_0.lvl4 {
	background-color: #262252; /* TODO: Remove line when using SVG */
	fill: #262252;
}

.rootnoc_1.lvl1 {
	background-color: #3a7e66; /* TODO: Remove line when using SVG */
	fill: #3a7e66;
}

.rootnoc_1.lvl2 {
	background-color: #2e6250; /* TODO: Remove line when using SVG */
	fill: #2e6250;
}

.rootnoc_1.lvl3 {
	background-color: #21483b; /* TODO: Remove line when using SVG */
	fill: #21483b;
}

.rootnoc_1.lvl4 {
	background-color: #1a382e; /* TODO: Remove line when using SVG */
	fill: #1a382e;
}

.rootnoc_2.lvl1 {
	background-color: #c24138; /* TODO: Remove line when using SVG */
	fill: #c24138;
}

.rootnoc_2.lvl2 {
	background-color: #9f352e; /* TODO: Remove line when using SVG */
	fill: #9f352e;
}

.rootnoc_2.lvl3 {
	background-color: #782822; /* TODO: Remove line when using SVG */
	fill: #782822;
}

.rootnoc_2.lvl4 {
	background-color: #5e1f1b; /* TODO: Remove line when using SVG */
	fill: #5e1f1b;
}

.rootnoc_3.lvl1 {
	background-color: #38808a; /* TODO: Remove line when using SVG */
	fill: #38808a;
}

.rootnoc_3.lvl2 {
	background-color: #2f6a72; /* TODO: Remove line when using SVG */
	fill: #2f6a72;
}

.rootnoc_3.lvl3 {
	background-color: #245056; /* TODO: Remove line when using SVG */
	fill: #245056;
}

.rootnoc_3.lvl4 {
	background-color: #1c3e43; /* TODO: Remove line when using SVG */
	fill: #1c3e43;
}

.rootnoc_4.lvl1 {
	background-color: #bc4e8c; /* TODO: Remove line when using SVG */
	fill: #bc4e8c;
}

.rootnoc_4.lvl2 {
	background-color: #963e70; /* TODO: Remove line when using SVG */
	fill: #963e70;
}

.rootnoc_4.lvl3 {
	background-color: #753057; /* TODO: Remove line when using SVG */
	fill: #753057;
}

.rootnoc_4.lvl4 {
	background-color: #5e2646; /* TODO: Remove line when using SVG */
	fill: #5e2646;
}

.rootnoc_5.lvl1 {
	background-color: #CC0047; /* TODO: Remove line when using SVG */
	fill: #CC0047;
}

.rootnoc_5.lvl2 {
	background-color: #a30039; /* TODO: Remove line when using SVG */
	fill: #a30039;
}

.rootnoc_5.lvl3 {
	background-color: #7f002c; /* TODO: Remove line when using SVG */
	fill: #7f002c;
}

.rootnoc_5.lvl4 {
	background-color: #610022; /* TODO: Remove line when using SVG */
	fill: #610022;
}

.rootnoc_6.lvl1 {
	background-color: #33850A; /* TODO: Remove line when using SVG */
	fill: #33850A;
}

.rootnoc_6.lvl2 {
	background-color: #286908; /* TODO: Remove line when using SVG */
	fill: #286908;
}

.rootnoc_6.lvl3 {
	background-color: #1f5106; /* TODO: Remove line when using SVG */
	fill: #1f5106;
}

.rootnoc_6.lvl4 {
	background-color: #183e05; /* TODO: Remove line when using SVG */
	fill: #183e05;
}

.rootnoc_7.lvl1 {
	background-color: #4a78b0; /* TODO: Remove line when using SVG */
	fill: #4a78b0;
}

.rootnoc_7.lvl2 {
	background-color: #3e6493; /* TODO: Remove line when using SVG */
	fill: #3e6493;
}

.rootnoc_7.lvl3 {
	background-color: #35567f; /* TODO: Remove line when using SVG */
	fill: #35567f;
}

.rootnoc_7.lvl4 {
	background-color: #2c4769; /* TODO: Remove line when using SVG */
	fill: #2c4769;
}

.rootnoc_8.lvl1 {
	background-color: #6D4E93; /* TODO: Remove line when using SVG */
	fill: #6D4E93;
}

.rootnoc_8.lvl2 {
	background-color: #5d457b; /* TODO: Remove line when using SVG */
	fill: #5d457b;
}

.rootnoc_8.lvl3 {
	background-color: #4c3864; /* TODO: Remove line when using SVG */
	fill: #4c3864;
}

.rootnoc_8.lvl4 {
	background-color: #3b2d4f; /* TODO: Remove line when using SVG */
	fill: #3b2d4f;
}

.rootnoc_9.lvl1 {
	background-color: #7f617e; /* TODO: Remove line when using SVG */
	fill: #7f617e;
}

.rootnoc_9.lvl2 {
	background-color: #684f67; /* TODO: Remove line when using SVG */
	fill: #684f67;
}

.rootnoc_9.lvl3 {
	background-color: #523f51; /* TODO: Remove line when using SVG */
	fill: #523f51;
}

.rootnoc_9.lvl4 {
	background-color: #433342; /* TODO: Remove line when using SVG */
	fill: #433342;
}
